@font-face {
    font-family: myDownloadedFont;
    src: url(fonts/Md_Gothic11.ttf);
}
header div{
	font-family:myDownloadedFont;
}
table.myclass td
{
	vertical-align:middle;

}
 table.tab td{
 border-left:1px solid grey;
  border-bottom:1px solid grey;
   border-top:1px solid grey;
 }
 table.tab{
 border:1px solid grey !important;
 }